footer {
  background-color: #f2f2f2;
  padding: 20px 0;
}

.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-content {
  text-align: center;
}

.footer-content p {
  margin-bottom: 10px;
  color: #555;
}

